<div id="<%= dom_id practise_style %>">
  <p>
    <strong>Name:</strong>
    <%= practise_style.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= practise_style.description %>
  </p>

</div>
