<h1>Editing practise style</h1>

<%= render "form", practise_style: @practise_style %>

<br>

<div>
  <%= link_to "Show this practise style", @practise_style %> |
  <%= link_to "Back to practise styles", practise_styles_path %>
</div>
